a {
    text-decoration: none;
    color: #000;
}

.logo {
    font-size: 1.4rem;
    font-weight: 700;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    display: grid;
}

.card {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}

.list {
    list-style-type: none;
}

.list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: steelblue;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.btn:not(.btn:disabled):hover {
    background-color: #345f81;
}

.btn:disabled {
    opacity: 0.5;
}

/*
header
 */
header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid steelblue;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a:hover {
    opacity: 0.8;
}

/*
products
 */

.products {
    padding: 80px 0;
}

.product .list {
    margin-bottom: 20px;
}

.product .btn-row {
    display: flex;
    justify-content: center;
}

/*
cart
 */

.cart {
    padding: 80px 0;
}

.cart  h3 {
    opacity: 0.7;
    text-align: left;
    font-size: 1.3rem;
}

.cart-products {
    max-width: 400px;
}

.total-price {
    display: flex;
    gap: 15px;
    font-size: 1.1rem;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.order-status {
    margin-top: 25px;
    font-size: 1.1rem;
}

.order-successful {
    color: green;
}

.order-error {
    color: red;
}








